{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
{{ page.title }}
{% endblock %}

{% block content %}
<h1>
    {{ page.title }}
</h1>

<section class="header">
    <dl>
        <div>
        <dt>Author</dt>
        <dd>{{ config.extra.site_owner_name }}</dd>
        </div>
        <div>
        <dt>Launched</dt>
        <dd><time datetime="{{ page.date }}">{{ page.date }}</time></dd>
        </div>
        {{ macros::resources(item=page) }}
    </dl>
</section>


{{ page.content | safe }}

{% endblock content %}
