{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
{{ page.title }}
{% endblock %}

{% block content %}
<h1>
    {{ page.title }}
</h1>

<section class="header">
    <dl>
        <dt>Speaker</dt>
        <dd>{{ config.extra.site_owner_name }}</dd>
        <dt>Presented</dt>
        <dd><time datetime="{{ page.date }}">{{ page.date }}</time></dd>
        <dt>Venue</dt>
        <dd>{{ page.extra.venue }}</dt>
    </dl>
</section>

{{ macros::resources(item=page) }}

{% if page.extra.resources.video.youtube_id %}
{{ macros::youtube(id=page.extra.resources.video.youtube_id) }}
{% endif %}

{{ page.content | safe }}

{% endblock content %}